http_interactions:
- request:
    method: GET
    uri: https://slides.googleapis.com/v1/presentations/1K9z9yY8Z9qmzOvY-qmO_eNYSpstJvBRObQdnsweaXnY
  response:
    status: 200
    headers:
      content-type: application/json; charset=UTF-8
      x-l2-request-path: l2-managed-4
    body:
      string: |
        {
          "presentationId": "1K9z9yY8Z9qmzOvY-qmO_eNYSpstJvBRObQdnsweaXnY",
          "pageSize": {
            "width": {
              "magnitude": 9144000,
              "unit": "EMU"
            },
            "height": {
              "magnitude": 5143500,
              "unit": "EMU"
            }
          },
          "slides": [
            {
              "objectId": "p",
              "pageElements": [
                {
                  "objectId": "i0",
                  "size": {
                    "width": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    },
                    "height": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    }
                  },
                  "transform": {
                    "scaleX": 2.8401999473571777,
                    "scaleY": 0.6841999888420105,
                    "translateX": 311708.349609375,
                    "translateY": 744575,
                    "unit": "EMU"
                  },
                  "shape": {
                    "shapeType": "TEXT_BOX",
                    "shapeProperties": {
                      "shapeBackgroundFill": {
                        "propertyState": "INHERIT"
                      },
                      "outline": {
                        "propertyState": "INHERIT"
                      },
                      "shadow": {
                        "propertyState": "INHERIT"
                      },
                      "autofit": {
                        "fontScale": 1
                      }
                    },
                    "placeholder": {
                      "type": "CENTERED_TITLE",
                      "parentObjectId": "p2_i0"
                    }
                  }
                },
                {
                  "objectId": "i1",
                  "size": {
                    "width": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    },
                    "height": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    }
                  },
                  "transform": {
                    "scale[...]
[...]
