http_interactions:
- request:
    method: POST
    uri: https://oauth2.googleapis.com/token
    body:
      string: refresh_token=vcr_fake_refresh_token&client_id=vcr_fake_client_id&client_secret=vcr_fake_client_secret&grant_type=refresh_token
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
    body:
      string: |-
        {
          "access_token": "ya29.A0ARrdaM_vcr_fake_access_token",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/userinfo.email openid https://www.googleapis.com/auth/presentations",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjEiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJzdWIiOiIxMjM0NTY3ODkiLCJlbWFpbCI6InRlc3RAZXhhbXBsZS5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiaWF0IjoxNzAwMDAwMDAwLCJleHAiOjk5OTk5OTk5OTl9.eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHg"
        }
  recorded_at: 2026-03-12 19:57:26
[...]
- request:
    method: GET
    uri: https://www.googleapis.com/drive/v3/files?orderBy=recency+desc&q=%28trashed+%3D+false%29+and+%28mimeType+%3D+%27application%2Fvnd.google-apps.presentation%27%29&supportsAllDrives=TRUE&fields=%2A
  response:
    status: 200
    headers:
      content-type: application/json; charset=UTF-8
    body:
      string: |
        {
          "files": [
            {
              "exportLinks": {
                "application/vnd.oasis.opendocument.presentation": "https://docs.google.com/feeds/download/presentations/Export?id=13GgHXpKgr-MVhPmhdYcV0vom0u2aNX84P8A_v2gtXWw&exportFormat=odp",
                "application/pdf": "https://docs.google.com/feeds/download/presentations/Export?id=13GgHXpKgr-MVhPmhdYcV0vom0u2aNX84P8A_v2gtXWw&exportFormat=pdf",
                "application/vnd.openxmlformats-officedocument.presentationml.presentation": "https://docs.google.com/feeds/download/presentations/Export?id=13GgHXpKgr-MVhPmhdYcV0vom0u2aNX84P8A_v2gtXWw&exportFormat=pptx",
                "text/plain": "https://docs.google.com/feeds/download/presentations/Export?id=13GgHXpKgr-MVhPmhdYcV0vom0u2aNX84P8A_v2gtXWw&exportFormat=txt"
              },
              "parents": [
                "0ACOFRjalKxnQUk9PVA"
              ],
              "lastModifyingUser": {
                "displayName": "Adam Hubbs",
                "kind": "drive#user",
                "me": true,
                "permissionId": "13669810728446326842",
                "emailAddress": "adam@y2analytics.com",
                "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIc9cExndU3VoL2lvCtYkmI1l0ywsCW5X__u5cjF8b_8SdP2A=s64"
              },
              "owners": [
                {
                  "displayName": "Adam Hubbs",
                  "kind": "drive#user",
                  "me": true,
                  "permissionId": "13669810728446326842",
                  "emailAddress": "adam@y2analytics.com",
                  "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIc9cExndU3VoL2lvCtYkmI1l0ywsCW5X__u5cjF8b_8SdP2A=s64"
                }
              ],
              "permissions": [
                {
                  "kind": "drive#permission",
                  "id": "13669810728446326842",
                  "type": "user",
                  "emailAddress": "adam@y2analytics.com",
                  "role": "owner",
                  "displayName": "Adam Hubbs",
                  "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIc9cExndU3VoL2lvCtYkmI1l0ywsCW5X__u5cjF8b_8SdP2A=s64",
                  "deleted": false,
                  "pendingOwner": false
                }
              ],
              "spaces": [
                "drive"
              ],
              "capabilities": {
                "canAcceptOwnership": false,
                "canAddChildren": false,
                "canAddMyDriveParent": false,
                "canChangeCopyRequiresWriterPermission": true,
                "canChangeItemDownloadRestriction": true,
                "canChangeSecurityUpdateEnabled": false,
                "canChangeViewersCanCopyContent": true,
                "canComment": true,
                "canCopy": true,
                "canDelete": true,
                "canDisableInheritedPermissions": false,
                "canDownload": true,
                "canEdit": true,
                "canEnableInheritedPermissions": true,
                "canListChildren": false,
                "canModifyContent": true,
                "canModifyContentRestriction": true,
                "canModifyEditorContentRestriction": true,
                "canModifyOwnerContentRestriction": true,
                "canModifyLabels": false,
                "canMoveChildrenWithinDrive": false,
                "canMoveItemIntoTeamDrive": true,
                "canMoveItemOutOfDrive": true,
                "canMoveItemWithinDrive": true,
                "canReadLabels": false,
                "canReadRevisions": true,
                "canRemoveChildren": false,
                "canRemoveContentRestriction": false,
                "canRemoveMyDriveParent": true,
                "canRename": true,
                "canShare": true,
                "canTrash": true,
                "canUntrash": true
              },
              "permissionIds": [
                "13669810728446326842"
              ],
              "linkShareMetadata": {
                "securityUpdateEligible": false,
                "securityUpdateEnabled": true
              },
              "downloadRestrictions": {
                "itemDownloadRestriction": {
                  "restrictedForReaders": false,
                  "restrictedForWriters": false
                },
                "effectiveDownloadRestrictionWithContext": {
                  "restrictedForReaders": false,
                  "restrictedForWriters": false
                }
              },
              "kind": "drive#file",
              "id": "13GgHXpKgr-MVhPmhdYcV0vom0u2aNX84P8A_v2gtXWw",
              "name": "Copy of Testing Pres 5",
              "mimeType": "application/vnd.google-apps.presentation",
              "starred": false,
              "trashed": false,
              "explicitlyTrashed": false,
              "version": "5",
              "webViewLink": "https://docs.google.com/presentation/d/13GgHXpKgr-MVhPmhdYcV0vom0u2aNX84P8A_v2gtXWw/edit?usp=drivesdk",
              "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.presentation",
              "hasThumbnail": true,
              "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPmsqfMfLpv9LXo0x0Tzp1xkt3NIoHHOAdRuvkwlq8LQ8iApD_PPbYbP7qnXEgNgukuVKWKo8hxuvzvYM0kiYIBYyVy9htuM1V1nf3scfwb1LE0LU6EiuUZd-dbFfc6=s220",
              "thumbnailVersion": "1",
              "viewedByMe": true,
              "viewedByMeTime": "2026-03-12T01:29:08.791Z",
              "createdTime": "2026-03-12T18:42:27.223Z",
              "modifiedTime": "2026-03-12T18:42:27.223Z",
              "modifiedByMeTime": "2026-03-12T18:42:27.223Z",
              "modifiedByMe": true,
              "shared": false,
              "ownedByMe": true,
              "viewersCanCopyContent": true,
              "copyRequiresWriterPermission": false,
              "writersCanShare": true,
              "size": "3820",
              "quotaBytesUsed": "3820",
              "isAppAuthorized": true,
              "inheritedPermissionsDisabled": false
            },
            {
              "exportLinks": {
                "application/vnd.oasis.opendocument.presentation": "https://docs.google.com/feeds/download/presentations/Export?id=1AVBVSur4LErcmZpMl_8et00X5X5q6gQImw9b8-NRWP8&exportFormat=odp",
                "application/pdf": "https://docs.google.com/feeds/download/presentations/Export?id=1AVBVSur4LErcmZpMl_8et00X5X5q6gQImw9b8-NRWP8&exportFormat=pdf",
                "application/vnd.openxmlformats-officedocument.presentation[...]
- request:
    method: GET
    uri: https://slides.googleapis.com/v1/presentations/1bT5eBiMt1PXcVApTEUWz2cEi820ARpo4NgADGnkF9fE
  response:
    status: 200
    headers:
      content-type: application/json; charset=UTF-8
      x-l2-request-path: l2-managed-4
    body:
      string: |
        {
          "presentationId": "1bT5eBiMt1PXcVApTEUWz2cEi820ARpo4NgADGnkF9fE",
          "pageSize": {
            "width": {
              "magnitude": 9144000,
              "unit": "EMU"
            },
            "height": {
              "magnitude": 5143500,
              "unit": "EMU"
            }
          },
          "slides": [
            {
              "objectId": "p",
              "pageElements": [
                {
                  "objectId": "i0",
                  "size": {
                    "width": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    },
                    "height": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    }
                  },
                  "transform": {
                    "scaleX": 2.8401999473571777,
                    "scaleY": 0.6841999888420105,
                    "translateX": 311708.349609375,
                    "translateY": 744575,
                    "unit": "EMU"
                  },
                  "shape": {
                    "shapeType": "TEXT_BOX",
                    "shapeProperties": {
                      "shapeBackgroundFill": {
                        "propertyState": "INHERIT"
                      },
                      "outline": {
                        "propertyState": "INHERIT"
                      },
                      "shadow": {
                        "propertyState": "INHERIT"
                      },
                      "autofit": {
                        "fontScale": 1
                      }
                    },
                    "placeholder": {
                      "type": "CENTERED_TITLE",
                      "parentObjectId": "p2_i0"
                    }
                  }
                },
                {
                  "objectId": "i1",
                  "size": {
                    "width": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    },
                    "height": {
                      "magnitude": 3000000,
                      "unit": "EMU"
                    }
                  },
                  "transform": {
                    "scale[...]
